#sidebar {
    background-color:rgb(139, 13, 13);
    min-height: 100vh;
}

.movie {
    height: 220px;
    background-repeat: no-repeat;
    background-position: center; 
}

#table-lens {
	background-color: white;
}

.bar rect {
  fill: red;
}
