#sidebar {
    background-color:rgb(139, 13, 13);
    min-height: 100vh;
}

.movie {
    height: 220px;
    background-repeat: no-repeat;
    background-position: center; 
}

.movielist {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 400px;
    height: 500px;
    position: relative;
  }
  


.extra-info {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#info-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

#info-genres {
    margin-bottom: 5px;
    font-size: 11px;
}

.info-key {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

.info-value {
    margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}