#sidebar {
    background-color:rgb(139, 13, 13);
    /*height: 100vh;*/
    align-items: center;
}

#main-title {
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 20px 20px 0px 20px;
    margin-bottom: 0;
}

#main-text {
    margin-top:0;
    padding-bottom: 20px;
}

#creators {
    padding: 10px;
}

.movie {
    height: 220px;
    background-repeat: no-repeat;
    background-position: center; 
}

.list-item {
    cursor:pointer;
}

.active {
    background-color: cadetblue !important;
    border: 1px solid darkgray !important;
}

#search-bar {
    width: 70%;
}

.input-group {
    width: 70% !important;
    margin-bottom: 12px;
}

input:focus,
button:focus {
    box-shadow: none !important;
}

.movielist {
    width: 80%;
    height: 70vh;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
#viewport{
    padding: 20px;
    padding-top: 50px;
}

.extra-info {
    background-color: white;
    padding: 20px;
    text-align: center;
    pointer-events: none;
}

.tooltip {
    z-index: 0;
}

#info-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

#info-genres {
    margin-bottom: 5px;
    font-size: 11px;
}

.info-key {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

.info-value {
    margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
}

#info-button {
    width: 40px;
    height: 40px;
    top: 20px;
    position: fixed;
    background-image: url("../images/info.png");
    background-size: contain;
    z-index: 1;
}

.box-info {
    position: absolute;
    left: 200px;
    top: 50px;
    background-color: white;
    border:1px solid black;
    padding-top: 30px;
    padding-right:70px;
    padding-left:70px;
    z-index: 1;
}

.info-star-size {
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../images/7points.svg");
    height: 150px;
}

#small {
    background-size: 30%;
}

#mid-small {
    background-size: 50%;
}

#mid-large {
    background-size: 70%;
}

#large {
    background-size: 90%;
}

.box-info-main-title {
    font-weight: bold;
    font-size: 20px;
}

.box-info-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom:5px;
}

.box-info-value {
    font-size: 11px;
}
