#sidebar {
    background-color:rgb(139, 13, 13);
    min-height: 100vh;
}

#main-title {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    height: 80px;
}

.movie {
    height: 220px;
    background-repeat: no-repeat;
    background-position: center; 
}

.table-lens {
    background-color: black;
    background-position: center; 
}

.lenstitle{
    fill: white;
}
.bar {
    fill:aqua;
  }

.extra-info {
    background-color: white;
    padding: 20px;
    text-align: center;
    pointer-events: none;
}

.tooltip {
    z-index: 0;
}

#info-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

#info-genres {
    margin-bottom: 5px;
    font-size: 11px;
}

.info-key {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
}

.info-value {
    margin: 0;
    font-size: 12px;
    margin-bottom: 3px;
}

#info-button {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    position: fixed;
    background-image: url("../images/info.png");
    background-size: contain;
    z-index: 1;
}

.box-info {
    position: absolute;
    left: 170px;
    top: 50px;
    background-color: white;
    border:1px solid black;
    padding-top: 30px;
    padding-right:50px;
    padding-left:50px;
    z-index: 1;
}

.info-star-size {
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url("../images/7points.svg");
    height: 120px;
}

#small {
    background-size: 30%;
}

#mid-small {
    background-size: 50%;
}

#mid-large {
    background-size: 70%;
}

#large {
    background-size: 90%;
}

.box-info-main-title {
    font-weight: bold;
    font-size: 20px;
}

.box-info-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom:5px;
}

.box-info-value {
    font-size: 11px;
}

.cross {
}




input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}